{% extends "base.html" %}

{% block content %}
    <h1>Course Curriculum</h1>

<p>Teaching Academy offers a comprehensive curriculum covering a wide range of subjects, including Mathematics, Science, Language Arts, and Social Studies. Our courses are aligned with realtime, ensuring that students receive a well-rounded practical hands-on experience that prepares them for IT jobs in real time. Our curriculum is regularly reviewed and updated by our team of expert educators to ensure that it remains relevant, engaging, and effective.</p>

<div class="course-curriculum">
  <ul>
    <li><strong>Data Science:</strong> Introduction to Data Science, Data Analysis with Python, Data Visualization with Matplotlib, Machine Learning with scikit-learn, Deep Learning with TensorFlow, Big Data Analytics with Spark</li>
    <li><strong>Linux:</strong> Introduction to Linux, Command Line Interface, Linux Filesystem, Linux Permissions, Networking and Security, Shell Scripting</li>
    <li><strong>Machine Learning:</strong> Introduction to Machine Learning, Regression, Classification, Clustering, Dimensionality Reduction, Natural Language Processing</li>
    <li><strong>Cyber Security:</strong> Introduction to Cyber Security, Network Security, Operating System Security, Application Security, Cloud Security, Digital Forensics</li>
    <li><strong>Networking:</strong> Introduction to Networking, Network Topologies and Models, TCP/IP Protocol Suite, Routing and Switching, Network Security, Wireless Networking</li>
    <li><strong>Soft Skills:</strong> Communication Skills, Time Management, Leadership and Management, Problem Solving, Critical Thinking, Emotional Intelligence</li>
  </ul>
</div>


{% endblock %}

