{% extends "base.html" %}

{% block content %}
    <h1>How We're Different</h1>
    <p>At Teaching Academy, we believe in a personalized and student-centric approach to learning. Our curriculum is designed to adapt to each student's individual needs, allowing them to progress at their own pace. We offer small class sizes to ensure that students receive the attention they need to succeed. Our innovative teaching methods, combined with cutting-edge technology, create an engaging and interactive learning environment that fosters student success.</p>

{% endblock %}
