{% extends "base.html" %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Teaching Academy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mentors">Mentors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/curriculum">Curriculum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/different">Different</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <h1 class="text-center">Welcome to Teaching Academy</h1>




        <section id="about-us" class="section">
  <div class="container">
    <h2 class="section-title">Who Are We?</h2>
    <div class="row">
      <div class="col-md-12">
        <p class="lead">We are a group of professional individuals with various IT backgrounds who work in reputed multinational companies, startups, and product-based companies. We aim to fill the gap between the college education system and what IT companies actually need from college students.We fulfill this gap by making students industry-ready and providing them with the required skills to crack a job. Our team of experienced professionals and mentors are dedicated to providing the best learning experience to our students.</p>
      </div>

    </div>
  </div>
</section>

<section id="career-counselling" class="section bg-light">
  <div class="container">
    <h2 class="section-title">Career Counselling</h2>
    <div class="row">
      <div class="col-md-12">
        <p class="lead">We help you explore the different technologies/domains that exist in the market and guide you to choose the one that intrigues you the most. Our experienced mentors are dedicated to providing the best guidance and support to our students.</p>
      </div>
    </div>
  </div>
</section>


        <section id="simulation-labs" class="section">
  <div class="container">
    <h2 class="section-title">Simulation Labs with Real-World Problems</h2>
    <div class="row">
      <div class="col-md-12">
        <p class="lead">We make sure that all our students understand how actual IT works, what they are expected to do, and how to deal with real-world situations. Our simulation labs are designed to provide students with practical experience in solving real-world problems.Our mentors are experts in their respective fields and have years of experience in solving complex IT problems. They will guide you through the simulation labs and provide you with the necessary support to enhance your learning experience.</p>
      </div>

    </div>
  </div>
</section>


        <section id="dedicated-mentors" class="section bg-light">
  <div class="container">
    <h2 class="section-title">Dedicated Mentors</h2>
    <div class="row">
      <div class="col-md-12">
        <p class="lead">We provide dedicated mentors to guide you through your learning journey and help you solve your doubts. Our mentors are experts in their respective fields and have years of experience in the IT industry.</p>
      </div>
    </div>
  </div>
</section>



        <section id="Who can apply" class="section">
  <div class="container">
    <h2 class="section-title">Who can apply </h2>
    <div class="row">
      <div class="col-md-12">
        <p class="lead">Students who are highly motivated and curious to learn and try out new things/technologies. Students who can dive deep to find out the root cause of some challenging problem and can think out of the box to get solutions. We don't care about the percentages you got, the degree you are studying, whether you have any backlogs, etc.
     </div>
   </div>
  </div>
  </section>


        <section id="Who Are Not Eligible?" class="section bg-light">
  <div class="container">
    <h2 class="section-title">Who Are Not Eligible?</h2>
      <div class="row">
      <div class="col-md-12">
        <p class="lead">Students who are well aware of how IT works.
        </div>
    </div>
  </div>
</section>



<section id="course-schedule" class="section">
  <div class="container">
    <h2 class="section-title">Course Schedule </h2>
    <div class="row">
      <div class="col-md-6">
        <p class="lead">3 classes per week which lasts about 1 hour each.</p>
    </div>
  </div>
</section>


        <section id="Doubt Session" class="section bg-light">
  <div class="container">
    <h2 class="section-title">Doubt session </h2>
    <div class="row">
      <div class="col-md-12">
        <p class="lead">There will be dedicated doubt sessions on solving problems, assessments, and more.
    </div>
  </div>
  </div>
</section>



        <!-- Mentors Section -->

         <div class="section">
            <h2 class="section-title">Mentors</h2>
        <div class="row">
            <!-- Mentor 1 -->
            <div class="col-md-4 bounce animate">
                <div class="card">
                    <img src="/static/images/usman.jpg" class="card-img-top" alt="Mentor 1">
                    <div class="card-body">
                        <h5 class="card-title">Mohammad Usman</h5>
                        <p class="card-text">Mohammad Usman is a Datascientist working at JIO. He specializes in Datascience, Azure Devops.</p>
                        <a href="https://www.linkedin.com/in/shaik-mohammad-usman-1b76967a/" target="_blank">View Mentor 1's LinkedIn Profile</a>
                    </div>
                </div>
            </div>
            <!-- Mentor 2 -->
            <div class="col-md-4 bounce animate">
                <div class="card">
                    <img src="/static/images/sam.jpg" class="card-img-top" alt="Mentor 2">
                    <div class="card-body">
                        <h5 class="card-title">Shaik Sameer</h5>
                        <p class="card-text">Sameer is an expert in the field of AI and experienced in MachineLearning and Deeplearning to deliver insights from data for complex business problems.</p>
                        <a href="https://www.linkedin.com/in/sameershaik65/" target="_blank">View Mentor 2's LinkedIn Profile</a>
                    </div>
                </div>
            </div>
            <!-- Mentor 3 -->
            <div class="col-md-4 bounce animate">
                <div class="card">
                    <img src="/static/images/mehu.jpg" class="card-img-top" alt="Mentor 3">
                    <div class="card-body">
                        <h5 class="card-title">Meharaj Shaik</h5>
                        <p class="card-text">Meharaj shaik is a Front-end developer working for Wipro with 5 years of experience.</p>
                        <a href="https://www.linkedin.com/in/meharaj-shaik-002529161/" target="_blank">View Mentor 3's LinkedIn Profile</a>
                    </div>
                </div>
            </div>
        </div>



        <!-- Different Section -->
        <div class="section">
            <h2 class="section-title">What sets us Apart from others</h2>
            <p>At Teaching Academy, we believe in a personalized and student-centric approach to learning. Our curriculum is designed to adapt to each student's individual needs, allowing them to progress at their own pace. We offer small class sizes to ensure that students receive the attention they need to succeed. Our innovative teaching methods, combined with cutting-edge technology, create an engaging and interactive learning environment that fosters student success.</p>
        </div>

        <!-- Curriculum Section -->
        <div class="section">
            <h2 class="section-title">Curriculum</h2>


            <p>Teaching Academy offers a comprehensive curriculum covering a wide range of subjects, including Mathematics, Science, Language Arts, and Social Studies. Our courses are aligned with real-time industry requirements, ensuring that students receive a well-rounded practical hands-on experience that prepares them for IT jobs in real-time. Our curriculum is regularly reviewed and updated by our team of expert educators to ensure that it remains relevant, engaging, and effective.</p>
        </div>


    <div class="technology-box">
        <h3>Data Science</h3>
        <ul>
            <li>Introduction to Data Science</li>
            <li>Data Analysis with Python</li>
            <li>Data Visualization with Matplotlib</li>
            <li>Machine Learning with scikit-learn</li>
            <li>Deep Learning with TensorFlow</li>
            <li>Big Data Analytics with Spark</li>
        </ul>
    </div>

    <div class="technology-box">
        <h3>Machine Learning</h3>
        <ul>
            <li>Introduction to Machine Learning</li>
            <li>Regression</li>
            <li>Classification</li>
            <li>Clustering</li>
            <li>Coding and Databases</li>
        </ul>
    </div>

    <div class="technology-box">
        <h3>Networking</h3>
        <ul>
            <li>Introduction to Networking</li>
            <li>Why Networking</li>
            <li>Networking basics</li>
            <li>Networking labs</li>
        </ul>
    </div>

    <div class="technology-box">
        <h3>Softskills</h3>
        <ul>
            <li>Public speaking</li>
            <li>Mail Etiquette</li>
            <li>Verbal communication</li>
            <li>Group Discussion</li>
            <li>Speak your mind</li>
        </ul>
    </div>
</div>


<!-- Testimonials Section -->
<div class="section container-fluid">
    <h2 class="section-title">Testimonials</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card p-3">
                <blockquote class="blockquote mb-0">
                    <p class="testimonial">Teaching Academy has been a game-changer for my child. Their confidence and grades have improved dramatically.</p>
                    <footer class="blockquote-footer">Parent of Student</footer>
                </blockquote>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card p-3">
                <blockquote class="blockquote mb-0">
                    <p class="testimonial">The mentors at Teaching Academy are incredibly supportive and knowledgeable. I've learned so much from them.</p>
                    <footer class="blockquote-footer">Student</footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>





<!-- Contact Us Section -->
<div class="section">
    <h2 class="section-title">Contact Us</h2>
    <div class="contact-box">
        <div class="contact-item">
            <i class="fa fa-whatsapp"></i>
            <p>WhatsApp: <a href="tel:6303438141">6303438141</a></p>
        </div>
        <div class="contact-item">
            <i class="fa fa-envelope"></i>
            <p>Email: <a href="md.usman96540@gmail.com">md.usman96540@gmail.com</a></p>
        </div>

    </div>
</div>




      <!-- CSS -->
<style>
    .technology-box {
        border: 2px solid #ccc;
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 20px;
    }

    .technology-box h3 {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .technology-box ol {
        margin-left: 20px;
        margin-bottom: 0;
    }

    .technology-box ol li {
        margin-bottom: 10px;
    }
</style>


{% endblock %}

