{% extends "base.html" %}

{% block content %}
    <h1>Mentors</h1>
<p>Our mentors are experienced educators with a passion for teaching and a commitment to helping students succeed. Each mentor is carefully selected based on their expertise in their subject area and their ability to engage and inspire students. With a diverse group of educators, our mentors come from various MNCs,startups,product based companies and hold degrees from top universities, ensuring that students receive the highest quality education possible.</p>
{% endblock %}